@model projet_csharp_travel_plan.Models.Voyage

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Voyage</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateDebut)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateDebut)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateFin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateFin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrixTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrixTotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatutPaiement)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatutPaiement)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdUtilisateurNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdUtilisateurNavigation.IdUtilisateur)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdVoyage">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
