@model IEnumerable<projet_csharp_travel_plan.Models.Voyage>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateDebut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateFin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrixTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatutPaiement)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdUtilisateurNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateDebut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateFin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrixTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatutPaiement)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdUtilisateurNavigation.IdUtilisateur)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdVoyage">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdVoyage">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdVoyage">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
