@model projet_csharp_travel_plan_frontend.DTO.LogementDTO

@{
    ViewData["Title"] = "Détails du Logement";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>Nom: @Model.Nom</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Fournisseur</dt>
        <dd class="col-sm-10">@Model.NomFournisseur</dd>
        <dt class="col-sm-2">Catégorie</dt>
        <dd class="col-sm-10">@Model.NomCategorie</dd>
        <dt class="col-sm-2">Pays</dt>
        <dd class="col-sm-10">@Model.NomPays</dd>
        <dt class="col-sm-2">Détails</dt>
        <dd class="col-sm-10">@Model.Details</dd>
        <dt class="col-sm-2">Note</dt>
        <dd class="col-sm-10">@Model.Note</dd>
        <dt class="col-sm-2">Nombre d'évaluations</dt>
        <dd class="col-sm-10">@Model.NbEvaluation</dd>
        <dt class="col-sm-2">Image</dt>
        <dd class="col-sm-10">
            <!-- Vous devez décider comment afficher l'image -->
        </dd>
    </dl>
    <p>
        <a asp-controller="Logements" asp-action="Reserve" asp-route-logementId="@Model.Id" class="btn btn-primary">Louer ce logement</a>
        <a asp-action="Index" class="btn btn-secondary">Retour à la liste des logements</a>
    </p>

</div>
