@model IEnumerable<projet_csharp_travel_plan_frontend.DTO.LogementDTO>

@{
    ViewData["Title"] = $"Logements en {ViewData["SelectedCountry"]}";
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.IdLogement)</th>
            <th>@Html.DisplayNameFor(model => model.Nom)</th>
            <th>@Html.DisplayNameFor(model => model.Details)</th>
            <th>@Html.DisplayNameFor(model => model.Note)</th>
            <th>@Html.DisplayNameFor(model => model.NbEvaluation)</th>
            <th>@Html.DisplayNameFor(model => model.NomFournisseur)</th>
            <th>@Html.DisplayNameFor(model => model.NomCategorie)</th>
            <th>@Html.DisplayNameFor(model => model.NomPays)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.IdLogement)</td>
                <td>@Html.DisplayFor(modelItem => item.Nom)</td>
                <td>@Html.DisplayFor(modelItem => item.Details)</td>
                <td>@Html.DisplayFor(modelItem => item.Note)</td>
                <td>@Html.DisplayFor(modelItem => item.NbEvaluation)</td>
                <td>@Html.DisplayFor(modelItem => item.NomFournisseur)</td>
                <td>@Html.DisplayFor(modelItem => item.NomCategorie)</td>
                <td>@Html.DisplayFor(modelItem => item.NomPays)</td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.IdLogement" class="btn btn-info">Voir détails</a>
                </td>
            </tr>
        }
    </tbody>
</table>
