@model IEnumerable<projet_csharp_travel_plan_frontend.DTO.LogementDTO>

@{
    ViewData["Title"] = $"Logements en {ViewData["SelectedCountry"]}";
    var voyageId = ViewData["VoyageId"];
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>Catégorie</th>
            <th>Nom du logement</th>
            <th>Description</th>
            <th>Note</th>
            <th>Nombre d'évaluation</th>
            <th>Fournisseur</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.NomCategorie)</td>
                <td>@Html.DisplayFor(modelItem => item.Nom)</td>
                <td>@Html.DisplayFor(modelItem => item.Details)</td>
                <td>@Html.DisplayFor(modelItem => item.Note)/10</td>
                <td>@Html.DisplayFor(modelItem => item.NbEvaluation)</td>
                <td>@Html.DisplayFor(modelItem => item.NomFournisseur)</td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.IdLogement" asp-route-voyageId="@voyageId" class="btn btn-info">Voir détails</a>
                </td>
            </tr>
        }
    </tbody>
</table>
