@model IEnumerable<projet_csharp_travel_plan_frontend.Models.Logement>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<h1>Liste des Logements</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Nom du Logement
            </th>
            <th>
                Fournisseur
            </th>
            <th>
                Catégorie
            </th>
            <th>
                Pays
            </th>
            <th>
                Nom
            </th>
            <th>
                Détails
            </th>
            <th>
                Note
            </th>
            <th>
                Nombre d'évaluations
            </th>
            <th>
                Image
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Nom
                </td>
                <td>
                    @item.IdFournisseurNavigation?.NomCompagnie <!-- Affiche le nom du fournisseur, si disponible -->
                </td>
                <td>
                    @item.IdLogementCategorieNavigation?.Nom <!-- Affiche le nom de la catégorie de logement, si disponible -->
                </td>
                <td>
                    @item.IdPaysNavigation?.Nom <!-- Affiche le nom du pays, si disponible -->
                </td>
                <td>
                    @item.Details
                </td>
                <td>
                    @item.Note
                </td>
                <td>
                    @item.NbEvaluation
                </td>
                <td>
                    <!-- Vous devez décider comment afficher l'image -->
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.IdLogement">Details</a> |
                </td>
            </tr>
        }
    </tbody>
</table>
