@model IEnumerable<projet_csharp_travel_plan_frontend.DTO.LogementDTO>

@{
    ViewData["Title"] = $"Logements en {ViewData["SelectedCountry"]}";
    var selectedCountry = ViewData["SelectedCountry"];
    var voyageId = ViewData["VoyageId"];
}

<h1>@ViewData["Title"]</h1>

<p class="description">Voici les différents logements disponibles pour vous ! Veuillez choisir :</p>

<div class="container">
    @if (Model != null && Model.Any())
    {
        @foreach (var item in Model)
        {
            <div class="card mb-4 shadow-sm">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="/img/logement_test.jpg" class="card-img" alt="Image du logement">
                    </div>
                    <div class="col-md-8 d-flex flex-column">
                        <div class="card-body">
                            <h5 class="card-title">@Html.DisplayFor(modelItem => item.Nom)</h5>
                            <p class="card-text"><strong>@Html.DisplayFor(modelItem => item.NomFournisseur)</strong></p>
                            <h6 class="card-subtitle mb-2 text-muted">@Html.DisplayFor(modelItem => item.NomCategorie)</h6>
                            <p class="card-text">@Html.DisplayFor(modelItem => item.Details)</p>
                            <p class="card-text">
                                <strong>Note :</strong>
                                @for (var i = 1; i <= 10; i++)
                                {
                                    <span class="fa fa-star @(i <= item.Note ? "checked" : "")"></span>
                                }
                            </p>
                            <p class="card-text"><strong>Prix : </strong>@Html.DisplayFor(modelItem => item.PrixLogement) CHF </p>
                            <p class="card-text"><strong>Nombre d'évaluations :</strong> @Html.DisplayFor(modelItem => item.NbEvaluation) avis </p>
                        </div>
                        <div class="card-footer text-left">
                            <a asp-action="Details" asp-route-id="@item.IdLogement" asp-route-country="@selectedCountry" asp-route-voyageId="@voyageId" class="btn btn-info">Réserver le logement</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <p>Aucun logement disponible pour ce pays.</p>
    }
</div>

<style>
    .card {
        border-radius: 10px;
        border: none;
    }

    .card-img {
        border-radius: 10px 0 0 10px;
        object-fit: cover;
        height: 100%;
        border: 2px solid grey;
    }

    .card-title {
        font-weight: bold;
    }

    .card-subtitle {
        font-size: 14px;
        color: #6c757d;
    }

    .card-text {
        margin-bottom: 10px;
    }

    .card-footer {
        background-color: white;
        border-top: none;
        padding: 15px;
    }

    .btn {
        margin-bottom: 10px;
    }

    .fa-star.checked {
        color: orange;
    }

    .container .card:first-child {
        margin-top: 40px;
    }
</style>
