@model IEnumerable<projet_csharp_travel_plan_frontend.DTO.LogementDTO>

@{
    ViewData["Title"] = $"Logements en {ViewData["SelectedCountry"]}";
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>Catégorie</th>
            <th>Nom du logement</th>
            <th>Note</th>
            <th>Nombre d'évaluation</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var l in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => l.NomCategorie)</td>
                <td>@Html.DisplayFor(modelItem => l.Nom)</td>
                <td>@Html.DisplayFor(modelItem => l.Note)/10</td>
                <td>@Html.DisplayFor(modelItem => l.NbEvaluation)</td>
                <td>
                    <a asp-action="Details" asp-route-id="@l.IdLogement" class="btn btn-info">Voir détails</a>
                </td>
            </tr>
        }
    </tbody>
</table>
