@model IEnumerable<projet_csharp_travel_plan_frontend.Models.Logement>

@{
    ViewData["Title"] = "List";
}

<h1>List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdLogementLoc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdFournisseur)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdLogementCategorie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdPays)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Details)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Note)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NbEvaluation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Img)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdLogementLoc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdFournisseur)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdLogementCategorie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdPays)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Details)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Note)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NbEvaluation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Img)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdLogement">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdLogement">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdLogement">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
