@model projet_csharp_travel_plan_frontend.DTO.ActiviteDTO

@{
    ViewData["Title"] = "Details";
    var voyageId = ViewData["VoyageId"];
}

<h1>Details</h1>

<div>
    <h4>ActiviteDTO</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Fournisseur</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.NomFournisseur)</dd>
        <dt class="col-sm-2">Catégorie</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.NomCategorie)</dd>
        <dt class="col-sm-2">Pays</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.NomPays)</dd>
        <dt class="col-sm-2">Description</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Details)</dd>
        <dt class="col-sm-2">Durée</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.HeuresMoyennes)</dd>
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Note)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Note)/10</dd>
        <dt class="col-sm-2">Nombre d'évaluations</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.NbEvaluation)</dd>
        <dt class="col-sm-2">Désirez-vous un guide audio ?</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.GuideAudio)</dd>
        <dt class="col-sm-2">Désirez-vous une visite guidée ?</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.VisiteGuidee)</dd>
        <dt class="col-sm-2">Prix</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.PrixActivite) CHF</dd>
    </dl>
    <form method="post" asp-action="ConfirmActiviteSelection">
        @Html.AntiForgeryToken()
        <input type="hidden" name="IdActivite" value="@Model.IdActivite" />
        <input type="hidden" name="VoyageId" value="@voyageId" />
        <div class="form-group">
            <label for="DateDebut">Date de début</label>
            <input type="date" class="form-control" id="DateDebut" name="DateDebut" required />
        </div>
        <div class="form-group">
            <label for="DateFin">Date de fin</label>
            <input type="date" class="form-control" id="DateFin" name="DateFin" required />
        </div>
        <div class="form-group">
            <label for="HeureDebut">Heure de début</label>
            <input type="time" class="form-control" id="HeureDebut" name="HeureDebut" required />
        </div>
        <div class="form-group">
            <label for="GuideAudio">Guide Audio</label>
            <input type="checkbox" class="form-control" id="GuideAudio" name="GuideAudio" value="true" />
        </div>
        <div class="form-group">
            <label for="VisiteGuidee">Visite Guidée</label>
            <input type="checkbox" class="form-control" id="VisiteGuidee" name="VisiteGuidee" value="true" />
        </div>
        <button type="submit" class="btn btn-primary">Réservation</button>
    </form>
    <a asp-action="Index" asp-route-voyageId="@voyageId">Retour à la liste des activités</a>
</div>
