@model projet_csharp_travel_plan_frontend.DTO.ActiviteDTO

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ActiviteDTO</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Details)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Details)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Note)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Note)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NbEvaluation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NbEvaluation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HeuresMoyennes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HeuresMoyennes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomFournisseur)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomFournisseur)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EquipementInclu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EquipementInclu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GuideAudio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GuideAudio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VisiteGuidee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VisiteGuidee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomPays)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomPays)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prix)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prix)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomCategorie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomCategorie)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Reservations" asp-action="Index">Reservation</a>
</div>
