@model IEnumerable<projet_csharp_travel_plan_frontend.DTO.ReservationDTO>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Nouvelle Réservation</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Voyage
            </th>
            <th>
                Logement
            </th>
            <th>
                Activité
            </th>
            <th>
                Transport
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdVoyage)
                </td>
                <td>
                    @if (item.Logement != null)
                    {
                        @Html.DisplayFor(modelItem => item.Logement.Nom)
                    }
                    else
                    {
                        <text>No Logement Assigned</text>
                    }
                </td>
                <td>
                    @if (item.Activite != null)
                    {
                        @Html.DisplayFor(modelItem => item.Activite.Nom)
                    }
                    else
                    {
                        <text>No Activité Assigned</text>
                    }
                </td>
                <td>
                    @if (item.Transport != null)
                    {
                        @Html.DisplayFor(modelItem => item.IdTransport)
                    }
                    else
                    {
                        <text>No Transport Assigned</text>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
